@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;0,900;1,600&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;*/
}

:root {
    --clr-black: hsl(230, 35%, 7%);
    --clr-purple: hsl(231, 77%, 90%);
    --clr-bege: hsl(0, 0%, 100%)
}

body {
    display: block;
    background: url(../assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    width: 100%;
    height: 900px;
    justify-content: center;

}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    margin: 64px 55px;
}

.navbar .fas {
    display: none;
}

.navbar .line {
    position: absolute;
    width: 475px;
    left: 110px;
    z-index: 1;
}

.navbar ul {
    list-style: none;
    width: 930px;
    padding-left: 80px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    /* Note: backdrop-filter has minim */
}

.navbar li {
    display: inline-block;
    margin: 35px 35px;
}

.navbar ul li a span {
    font-weight: 700;
}

.navbar ul li a {
    font-family: 'Barlow Condensed', sans-serif;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
}

.navbar ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    left: 0;
    bottom: -35px;
    transition: 0.5s ease;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.navbar .active-link::after {
    width: 100%;
    background: #ffffff;
    opacity: 1;
}

@media only screen and (max-width: 1440px) {
    .navbar ul {
        width: 840px;
        padding-left: 70px;
    }

    .navbar .line {
        width: 440px;
    }

    .navbar li {
        margin: 35px 25px;
    }
}

/* ------------ main --------------- */

.title-destination h2 {
    position: absolute;
    height: 34px;
    left: 14.14%;
    right: 1.57%;
    top: 212px;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.title-destination span {
    letter-spacing: 4.725px;
    font-weight: 700;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.25;
}

.title-destination img {
    position: absolute;

    left: 230px;
    top: 343px;
}

/* ------------- place description ------------- */

.place-description {
    position: absolute;
    width: 445px;
    height: 472px;
    left: 832px;
    top: 310px;
}

.links ul {
    position: absolute;
    list-style: none;
    text-transform: uppercase;
    left: 832px;
    top: 310px;
    z-index: 10;
}

.links li {
    display: inline-block;
    justify-content: space-between;
    padding-right: 30px;
}

.links ul li a {
    position: relative;
    height: 19px;
    left: 0;
    right: 1.4%;
    top: calc(50% - 19px/2 - 7.5px);

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-decoration: none;

    color: #D0D6F9;
}

.links ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #888787;
    position: absolute;
    left: 0;
    bottom: -15px;
    transition: 0.5s ease;
}

.links ul li a:hover::after {
    width: 100%;
}

.links .active-link::after {
    width: 100%;
    background: #ffffff;
}

.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}

.place-description h1 {
    position: absolute;
    height: 115px;
    left: 0.11%;
    right: 25.06%;
    top: calc(50% - 115px/2 - 107.5px);

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    text-transform: uppercase;
    /* identical to box height */


    color: #FFFFFF;
}

.place-description p {
    position: absolute;
    height: 128px;
    left: 0%;
    right: 0.22%;
    top: calc(50% - 128px/2 + 28px);

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */


    color: #D0D6F9;
}

.place-description #line {
    position: absolute;
    left: 0.22%;
    right: 0%;
    top: 80.93%;
    bottom: 18.86%;

    background: #383B4B;
}

.travel-description h4 {
    position: absolute;
    height: 17px;
    left: 0%;
    right: 32.17%;
    bottom: 40px;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
}

.travel-description h3 {
    position: absolute;
    height: 32px;
    left: 0%;
    right: 0%;
    bottom: 0px;

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.travel-time h4 {
    position: absolute;
    height: 17px;
    right: 18.8%;
    bottom: 40px;

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    letter-spacing: 2.3625px;
    text-transform: uppercase;

    color: #D0D6F9;
}

.travel-time h3 {
    position: absolute;
    height: 32px;
    right: 25.41%;
    bottom: 0;

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.travel-time #mars {
    position: absolute;
    height: 32px;
    right: 14%;
    bottom: 0;

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.travel-time #europa {
    position: absolute;
    height: 32px;
    right: 23%;
    bottom: 0;

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

.travel-time #titan {
    position: absolute;
    height: 32px;
    right: 23%;
    bottom: 0;

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height */

    text-transform: uppercase;

    color: #FFFFFF;
}

/* --------- configuração da screen 770px ----------- */
@media only screen and (max-width: 770px) {

    body {
        background: url(../assets/destination/background-destination-tablet.jpg);
        background-size: cover;
        height: 1024px;
    }

    /* ---------- nav --------------- */
    .navbar img {
        margin: 20px 39px;
    }

    .navbar .line {
        display: none;
    }

    .navbar ul {
        width: 450px;
        padding-left: 20px;
    }

    .navbar li {
        margin: 35px 15px;
    }

    .navbar li span {
        display: none;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    /* ------------ content destination ---------- */
    .title-destination h2 {
        position: absolute;
        left: 39px;
        top: 136px;

        font-size: 18px;
        line-height: 24px;
        /* identical to box height */

        letter-spacing: 3.375px;
        text-transform: uppercase;
    }

    .title-destination img {
        position: absolute;
        width: 300px;
        height: 300px;
        left: 234px;
        top: 220px;
    }

    /* ------------- place description ------------- */

    .links ul {
        position: absolute;
        width: 395.5px;
        height: 34px;
        left: 241px;
        top: 573px;
    }

    .place-description {
        position: absolute;
        width: 565px;
        height: 672px;
        left: 150px;
        top: 310px;
    }

    .place-description h1 {
        position: absolute;
        width: 266px;
        height: 92px;
        left: 101.5px;
        top: 339px;

        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 92px;
        /* identical to box height */

        text-align: center;
    }

    .place-description p {

        width: 573px;
        height: 84px;
        left: -60px;
        top: 439px;

        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */

        text-align: center;
    }

    .place-description #line {
        position: absolute;
        left: -10%;
        right: 10%;
        top: 85.93%;
        bottom: 13.86%;

        background: #383B4B;
    }

    .travel-description h4 {
        left: 0;
        right: 65.87%;

        text-align: center;
    }

    .travel-description h3 {
        left: 0;
        right: 65.87%;

        text-align: center;
    }

    .travel-time h4 {
        left: 51.05%;
        right: 20.03%;

        text-align: center;
    }

    .travel-time h3 {
        left: 51.05%;
        right: 20.03%;

        text-align: center;
    }

    .travel-time #mars {
        right: 20%;
    }

    .travel-time #europa {
        right: 21%;
    }

    .travel-time #titan {
        right: 21%;
    }
}

/* --------- configuração da screen 770px ----------- */
@media only screen and (max-width: 380px) {
    body {
        background: url(../assets/destination/background-destination-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 850px;
    }

    /* ---------- nav --------------- */
    .navbar img {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        top: 24px;
    }

    .navbar ul {
        position: fixed;
        width: 254px;
        height: 100vh;
        right: -254px;
        top: 0px;
        padding-top: 100px;
        z-index: 2;
        transition: right 0.5s;
    }

    .navbar .fas.fa-bars {
        position: absolute;
        left: 300px;
        top: 43.95px;
    }

    .navbar .fas {
        display: block;
        font-size: 35px;
        color: #FFFFFF;
        position: absolute;
        left: 180px;
        top: 43.95px;
        cursor: pointer;
        z-index: 1;
    }

    .navbar li {
        margin: 35px 5px;
        display: block;
    }

    .navbar li span {
        display: inline-block;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .navbar ul li a::after {
        display: none;
    }

    /* ------------ content destination ---------- */
    .title-destination h2 {
        left: 76px;
        top: 108px;

        font-size: 16px;
        line-height: 19px;
        /* identical to box height */

        letter-spacing: 2.7px;
    }

    .title-destination img {
        width: 170px;
        height: 170px;
        left: 103px;
        top: 159px;
    }

    /* ------------- place description ------------- */

    .links ul {
        width: 300px;
        height: 28px;
        left: 60px;
        top: 355px;
    }

    .links ul li a {
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
    
        letter-spacing: 2.3625px;
    }

    .place-description {
        width: 365px;
        left: 0;
        top: 0px;
    }

    .place-description h1 {
        position: absolute;
        width: 187px;
        height: 64px;
        left: 94.5px;
        top: 403px;

        font-family: 'Bellefair';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        text-align: center;

        color: #FFFFFF;
    }

    .place-description p {
        position: absolute;
        width: 327px;
        height: 125px;
        left: 24px;
        top: 473px;

        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        /* or 167% */

        text-align: center;

        color: #D0D6F9;
    }

    .place-description #line {
        width: 327px;
        height: 1px;
        left: 24px;
        top: 615px;
    }

    .travel-description h4 {   
        left: 120px;  
        right: 100px;
        top: 640px;
    }

    .travel-description h3 {
        left: 100px;  
        right: 80px;
        top: 670px;
        font-size: 28px;
    }

    .travel-time h4 {
        left: 120px;  
        right: 100px;
        top: 730px; 
    }

    .travel-time h3 {
        left: 90px;  
        right: 80px;
        top: 760px; 
    }

    .travel-time #mars {
        right: 20%;
    }

}