@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;0,700;0,900;1,600&family=Bellefair&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;*/
}

:root {
    --clr-black: hsl(230, 35%, 7%);
    --clr-purple: hsl(231, 77%, 90%);
    --clr-bege: hsl(0, 0%, 100%)
}

body {
    display: block;
    background: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    width: 100%;
    height: 900px;
    justify-content: center;

}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    margin: 64px 55px;
}

.navbar .line {
    position: absolute;
    width: 475px;
    left: 110px;
    z-index: 1;
}

.navbar .fas {
    display: none;
}

.navbar ul {
    list-style: none;
    width: 930px;
    padding-left: 80px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    /* Note: backdrop-filter has minim */
}

.navbar li {
    display: inline-block;
    margin: 35px 35px;
}

.navbar ul li a span {
    font-weight: 700;
}

.navbar ul li a {
    font-family: 'Barlow Condensed', sans-serif;
    position: relative;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
}

.navbar ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    left: 0;
    bottom: -35px;
    transition: 0.5s ease;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.navbar .active-link::after {
    width: 100%;
    background: #ffffff;
    opacity: 1;
}

@media only screen and (max-width: 1440px) {
    .navbar ul {
        width: 840px;
        padding-left: 70px;
    }

    .navbar .line {
        width: 440px;
    }

    .navbar li {
        margin: 35px 25px;
    }
}

/* ------------- description ----------------*/

.description {
    position: absolute;
    width: 450px;
    height: 382px;
    left: 165px;
    top: 387px;
}

.description h2 {
    position: relative;
    height: 34px;
    left: 0.11%;
    right: 15.67%;
    top: calc(50% - 34px/2 - 174px);

    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #D0D6F9;
}

.description h1 {
    position: relative;
    height: 172px;
    left: -2%;
    right: 1.11%;
    top: calc(50% - 172px/2 - 47px);

    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 172px;
    text-transform: uppercase;
    /* identical to box height */


    color: #FFFFFF;
}

.description p {

    position: absolute;
    height: 128px;
    left: 0.11%;
    right: 1.22%;
    top: calc(50% - 128px/2 + 127px);

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */


    color: #D0D6F9;
}

.btn-explore a {
    display: flex;
    position: absolute;
    right: 180px;
    top: 495px;
    width: 275px;
    height: 275px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--clr-black);

    font-family: 'Bellefair', sans-serif;
    font-size: 32px;
    text-transform: uppercase;

    box-shadow: 0px 0px 1px 0px rgba(245, 243, 243, 0.5);
    transition: all 0.5s ease;
}

.btn-explore a:hover {
    box-shadow: 0px 0px 1px 100px rgba(255, 255, 255, 0.10);
}

/* --------- configuração da screen 770px ----------- */
@media only screen and (max-width: 770px) {

    body {
        background: url(../assets/home/background-home-tablet.jpg);
        background-size: cover;
        height: 1024px;
    }

    /* ---------- nav --------------- */
    .navbar img {
        margin: 20px 39px;
    }

    .navbar .line {
        display: none;
    }

    .navbar ul {
        width: 450px;
        padding-left: 20px;
    }

    .navbar li {
        margin: 35px 15px;
    }

    .navbar li span {
        display: none;
    }

    .navbar ul li a {
        font-size: 14px;
    }

    /* ----------- content home ------------ */
    .description {
        position: absolute;
        width: 450px;
        height: 334px;
        left: 159px;
        top: 202px;
    }

    .description h2 {
        position: absolute;
        height: 24px;
        left: 20%;
        right: 18.78%;
        top: calc(50% - 24px/2 - 155px);

        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;

        text-align: center;
        letter-spacing: 3.375px;
    }

    .description h1 {
        position: absolute;
        height: 150px;
        left: 0%;
        right: 1.11%;
        top: calc(50% - 150px/2 - 44px);

        font-size: 150px;
        line-height: 150px;
    }

    .description p {
        position: absolute;
        height: 112px;
        left: 0.67%;
        right: 0.67%;
        top: calc(50% - 112px/2 + 111px);

        font-size: 16px;
        line-height: 28px;

        text-align: center;
    }

    .btn-explore a {
        position: absolute;
        left: 243px;
        top: 692px;
    }

    .btn-explore a:hover {
        box-shadow: 0px 0px 1px 60px rgba(255, 255, 255, 0.10);
    }
}

/* --------- configuração da screen 770px ----------- */
@media only screen and (max-width: 380px) {
    body {
        background: url(../assets/home/background-home-mobile.jpg);
        background-size: cover;
        height: 670px;
    }

    /* ---------- nav --------------- */
    .navbar img {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        top: 24px;
    }

    .navbar ul {
        position: fixed;
        width: 254px;
        height: 100vh;
        right: -0px;  
        top: 0px;
        padding-top: 100px;
        z-index: 1;
        transition: right 0.5s;
    }

    .navbar .fas.fa-bars {
        position: absolute;
        left: 300px;
        top: 43.95px;
    }

    .navbar .fas {
        display: block;
        font-size: 35px;
        color: #FFFFFF;
        position: absolute;
        left: 180px;
        top: 43.95px;
        cursor: pointer;
    }

    .navbar li {
        margin: 35px 5px;
        display: block;
    }

    .navbar li span {
        display: inline-block;
    }

    .navbar ul li a {
        font-size: 16px;
    }

    .navbar ul li a::after {
        display: none;
    }

    /* ----------- content home ------------ */
    .description {
        position: absolute;
        width: 327px;
        height: 276px;
        left: 24px;
        top: 162px;
    }

    .description h2 {
        left: 16.82%;
        right: 15.82%;
        top: calc(50% - 19px/2 - 128.5px);

        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 2.7px;
    }

    .description h1 {
        top: calc(50% - 100px/2 - 53px);
        font-size: 80px;
        line-height: 100px;
        
        text-align: center;
    }

    .description p {
        top: calc(50% - 125px/2 + 75.5px);
        font-size: 15px;
    }

    .btn-explore a {
        position: absolute;
        width: 150px;
        height: 150px;
        left: 113px;
        top: 480px;
    }

}